# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Learning what a markdown cell is.
2. Writing lists such as this one.
3. Creating tables.
4. Writing some arithmetic expressions.

Some of the popular languages that Data Scientists use are:
1. Python.
2. Javascript.
3. C++.

Some of the commonly used libraries used by Data Scientists include:
1. PyTorch.
2. TensorFlow.
3. Scikit-learn.

| Data Science Tools|
| ------------------|
| Python            |
| Apache Spark      |
| Project Jupyter   |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Belqadi Younes